<!DOCTYPE html>
<html lang="it">

<head>

</head>

<body >
  
  <button type="submit" value="Submit" onclick="StampaDati()">Mostra Dati</button>

  <form action="/" method="get">
    <input type="submit" value="Torna alla Home, sei loggato con Google" 
         name="Logged" id="Logged" />
  </form>
 
<script> 
  function StampaDati(Dati) {
    var data = Dati;
    if (data != null){
      data = JSON.parse(data);
    }
    console.log(data);
  }
</script>

</body>

<footer>

</footer>

</html>

