<!DOCTYPE html>
<html lang="it">

<head>

</head>

<body >

  <form action="/oauth/try_logged" method="post">
    <input type="submit" value="Torna alla Home, sei loggato con Google" 
         name="Logged" id="Logged" />
  </form>

</body>



<footer>

</footer>

</html>

