<html>
<head>
    <link href="./css/w3.css" rel="stylesheet" type="text/css">
    <link href="./css/black-theme.css" rel="stylesheet" type="text/css">
    <link href="./css/ajax.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="w3-col m7">
        <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/oauth/login" method="post">
          <div class="w3-section">      
            <label>Username</label>
            <input class="w3-input" type="text" name="username" id="username" placeholder="Inserisci Username"required>
          </div>
          <div class="w3-section">      
            <label>Password</label>
            <input class="w3-input" type="password" name="password" id="password" placeholder="Inserisci Password"required>
          </div>
          <input type="submit" value="Log-in" name="Log-in" id="Log-in">
        </form>
    </div>
</body>
</html>
