<header class="fixed-top shadow m-1 py-1">
  <nav class="navbar">
    <div class="container-md">
      <span class="navbar-brand m-0">
        <i class="fa-solid fa-hashtag"></i>
      </span>
      <div class="d-flex">
        <a class="link-dark ms-5" href="#">Home</a>
        <a class="link-dark mx-5" href="#">Info</a>
        <a class="link-dark me-5" href="#">About Us</a>
      </div>
      <span class="navbar-brand m-0">
        <i class="fa-solid fa-moon"></i>
      </span>
    </div>
  </nav>
</header>
