<html>
<head>
    <link href="/css/w3.css" rel="stylesheet" type="text/css">

</head>
<body>
  <h1>Registrazione</h1>
    <div class="w3-col m7">
        <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/oauth/signup" method="post">
          <div class="w3-section">      
            <label>Username</label>
            <input class="w3-input" type="text" name="uname" id="uname" placeholder="Inserisci Username"required>
          </div>
          <div class="w3-section">      
            <label>Password</label>
            <input class="w3-input" type="password" name="pword" id="pword" placeholder="Inserisci Password"required>
          </div>
          <input type="submit" value="Sign in" name="Log-in" id="Log-in">
        </form>
    </div>
</body>
</html>
