<!DOCTYPE html>
<html lang="it">

<head>

</head>

<body >

  <form action="/spotify/try_logged" method="post">
    <input type="submit" value="Vai al recap, sei loggato con Spotify" 
         name="Logged" id="Logged" />
  </form>

</body>



<footer>

</footer>

</html>

