<!DOCTYPE html>
<html>
<head>

<form action="/spot/get_playlist" method="post">
  <label for="id_name">Enter name: </label>
  <input
    id="id_name"
    type="text"
    name="formUrl"
    value="inserisci url" />
  <input type="submit" value="OK" />
</form>

</body>
</html>
