<!DOCTYPE html>
<html lang="it">

<head>
  <%- include("./partials/header"); %>
  <%- include("./partials/navbar"); %>
  
  <title>SongLify</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="./css/w3.css" rel="stylesheet" type="text/css">
  <link href="./css/black-theme.css" rel="stylesheet" type="text/css">
  <link href="./css/ajax.css" rel="stylesheet" type="text/css">
  <link href="../public/css/w3.css" rel="stylesheet" type="text/css">
  <link href="../public/css/black-theme.css" rel="stylesheet" type="text/css">
  <link href="../public/css/ajax.css" rel="stylesheet" type="text/css">
</head>

<body id="myPage">

  <!-- Team Container -->
  
  <div class="w3-container w3-padding-64 w3-center" id="team">
    <h2>Il Team</h2>
    <p>Studenti Sapienza:</p>

    <div class="w3-row">
      <br>

     <div class="w3-quarter">
        <img src="/w3images/avatar1.jpg" alt="Founder" style="width:45%" class="w3-circle w3-hover-opacity">
        <h3>Andrea M</h3>
        <p>PLACEHOLDER</p>
      </div>

      <div class="w3-quarter">
        <img src="/w3images/avatar2.jpg" alt="Founder" style="width:45%" class="w3-circle w3-hover-opacity">
        <h3>Emanuele R</h3>
        <p>PLACEHOLDER</p>
      </div>

    </div>
  </div>

  <!-- Work Row -->

  <div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

    <div class="w3-quarter">
      <h2>Il Nostro Lavoro</h2>
      <p>SongLify un posto unico per le tue canzoni</p>

      <div class="container">
        <div id="oauth">
          <form action="/oauth" method="get">
            <input type="submit" value="Log in con OAuth" 
                 name="LoginOAuth" id="LoginOAuth" />
          </form>
          <form action="/oauth/logout" method="get">
            <input type="submit" value="Logout" 
                 name="LogoutOAuth" id="LogoutOAuth" />
          </form>
        </div>
        <br>
        <div id="login">
          <form action="/spot/callback" method="get">
            <input type="submit" value="Log in con Spotify" 
                 name="LoginSpotify" id="LoginSpotify" />
          </form>
        </div>
        <div id="loggedin">
          <div id="user-profile">
          </div>
          <div id="oauth">
          </div>
          <button class="btn btn-default" id="obtain-new-token">Ottieni un nuovo token</button>
        </div>
      </div>
      <form action="/form" method="post">
        <label for="song_url">Inserisci url canzone: </label>
        <input
          id="song_url"
          type="text"
          name="formUrl1"
          placeholder="inserisci testo"
          required />
        <input type="submit" value="OK" />
      </form>
      <form action="/spot/get_playlist" method="post">
        <label for="playlist_url">Inserisci url playlist: </label>
        <input
          id="playlist_url"
          type="text"
          name="formUrl2"
          placeholder="inserisci testo" 
          required />
        <input type="submit" value="OK" />
      </form>
    </div> 
  </div>

  <br>

  <!-- Contact Container -->

  <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
    <div class="w3-row">
      <div class="w3-col m5">
        <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contattaci</span></div>
          <h3>Indirizzi</h3>
          <p><i class="fa w3-text-teal w3-xlarge"></i>Roma, RM</p>
          <p><i class="fa w3-text-teal w3-xlarge"></i>+00 00000000</p>
          <p><i class="fa w3-text-teal w3-xlarge"></i>rdcprogalt@gmail.com</p>
        </div>
        <div class="w3-col m7">
          <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/contatti" target="_blank">
            <div class="w3-section">      
              <label>Nome</label>
              <input class="w3-input" type="text" name="Name" required>
            </div>
            <div class="w3-section">      
              <label>Email</label>
              <input class="w3-input" type="text" name="Email" required>
            </div>
            <div class="w3-section">      
              <label>Messaggio</label>
              <input class="w3-input" type="text" name="Message" required>
            </div>  
            <input class="w3-check" type="checkbox" checked name="Like">
            <label>Mi piace!</label>
            <button type="submit" class="w3-button w3-right w3-theme">Invia</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Script -->
  <script>
    function w3_open() {
      var x = document.getElementById("mySidebar");
      x.style.width = "300px";
      x.style.paddingTop = "10%";
      x.style.display = "block";
    }
        
    
    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    }
        
    function openNav() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
        
    (function() {
        
      function renderUserProfile({
        display_name,
        images,
        id,
        email,
        external_urls,
        href,
        country
        }) {
        return `<h1>Logged in as ${display_name}</h1>
                <div>
                  <div><img width="150" src="${images[0].url}"></div>
                  <div>
                    <dl>
                      <dt>Display name</dt><dd>${display_name}</dd>
                      <dt>Id</dt><dd>${id}</dd>
                      <dt>Email</dt><dd>${email}</dd>
                      <dt>Spotify URI</dt><dd><a href="${external_urls.spotify}">${external_urls.spotify}</a></dd>
                      <dt>Link</dt><dd><a href="${href}">${href}</a></dd>
                      <dt>Profile Image</dt><dd><a href="${images[0].url}">${images[0].url}</a></dd>
                      <dt>Country</dt><dd>${country}</dd>
                    </dl>
                  </div>
                </div>`;
            }
        
            function renderOAuth({access_token, refresh_token}) {
              return `<h2>OAuth Info</h2>
                <dl>
                  <dt>Access token</dt><dd class="text-overflow">${access_token}</dd>
                  <dt>Refresh token</dt><dd class="text-overflow">${refresh_token}</dd>
                </dl>`;
            }
        
            const loginBlock = document.getElementById('login');
            const loggedInBlock = document.getElementById('loggedin')
            const userProfilePlaceholder = document.getElementById('user-profile');
            const oauthPlaceholder = document.getElementById('oauth');
            const hashParams = new URLSearchParams(window.location.hash.substring(1));
        
            let access_token = hashParams.get('access_token'),
                refresh_token = hashParams.get('refresh_token'),
                error = hashParams.get('error');
        
            if (error) {
              alert('There was an error during the authentication');
            } else {
              if (access_token) {
                oauthPlaceholder.innerHTML = renderOAuth({access_token, refresh_token});
        
                const headers = {
                  'Authorization': `Bearer ${access_token}`
                };
        
                fetch('https://api.spotify.com/v1/me', {headers})
                .then(response => response.json())
                .then(response => {
                  userProfilePlaceholder.innerHTML = renderUserProfile(response);
                  loginBlock.style.display = 'none';
                  loggedInBlock.style.display = 'unset';
                });
              } else {
                loginBlock.style.display = 'unset';
                loggedInBlock.style.display = 'none';
              }
        
              document.getElementById('obtain-new-token').addEventListener('click', () => {
                const params = new URLSearchParams({refresh_token});
              
        
                fetch(`/refresh_token?${params.toString()}`)
                .then(response => response.json())
                .then(response => {
                  access_token = response.access_token;
                  oauthPlaceholder.innerHTML = renderOAuth({access_token, refresh_token});
        });
      }, false);
     }
    })();




  </script>

</body>



<footer>

<%- include("./partials/footer"); %>

</footer>

</html>

